.Img {
    margin-top: $h-gutter-sm;
    opacity: 0.8;

    &:hover {
        opacity: 1;
    }

    @media (min-width: $break-md) {
        &:hover {
            height: 90vh;
            width: auto;
        }
    }
}

.Img--responsive {
    width: 100%;
    height: auto;
}

.Gallery {
    width: 100%;

    @media (min-width: $break-md) {
        width: 100%;
    }

    @media (min-width: $break-lg) {
        width: 100%;
    }

    @media (min-width: $break-xl) {
        width: 115%;
    }
}
